<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>Vue.js basic exercise</title>
</head>

<body>
    <div id="aplicacion">
        <!-- Titulo -->
        <h1 class="display-2">SHOPPING LIST</h1>

        <!-- Tabla -->
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Nombre artículo</th>
                    <th scope="col">Precio por unidad</th>
                    <th scope="col">Unidades</th>
                    <th scope="col">Precio total</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <template v-for="articulo in articulos">
                    <tr>
                        <td scope="col">{{ articulo.nombre }}</td>
                        <td scope="col">{{ articulo.precio }}</td>
                    </tr>
                </template>
            </tbody>
        </table>

        <!-- Total de la compra -->
        <h1 class="display-4">Total despesa: </h1>

        <!-- Formulario de compra, añadir elementos o eliminar -->
        <form v-on:submit.prevent="agregarArticulo">
            <div class="form-group row" style="margin: 9px;">
                <div class="col-xs-3">
                    <input class="form-control" type="text" placeholder="Nombre artículo" v-model="nombre">
                </div>
                <div class="col-xs-2" style="margin: 0 0 0 12px;">
                    <input class="form-control" type="number" placeholder="Precio" v-model="precio">
                    <small id="passwordHelpInline" class="text-muted">
                        Precio en Euros
                    </small>
                </div>
                <div class="col-xs-2" style="margin: 0 0 0 12px;">
                    <button type="submit" class="btn btn-outline-success">Añadir</button>
                </div>
            </div>
        </form>

        <button type="submit" class="btn btn-outline-danger" style="margin: 9px;">Eliminar ultima fila</button>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</html>

<script>
    var app=new Vue({
      el: '#aplicacion',
      data:{ 
        nombre: '',
        precio: '',
        articulos: [{}]
      },
      methods: {
        agregarArticulo: function() {
          this.articulos.push({
                                nombre: this.nombre,
                                precio: this.precio
                              });
          this.nombre = '';
          this.precio = '';
        }
      }
    });
</script>